<div class="container">
    <div class="columns is-multiline">
      <div class="column is-6 is-offset-3">
        <div class="content is-size-2">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <strong><i class="fa fa-user is-caffe-light"></i></strong>
                  </figure>
                </div>
                <div class="media-content">
                    <p class="title is-4"><%= @user.full_name%></p>
                    <p class="subtitle is-6"><%= @user.username %></p>
                    <p class="subtitle is-6"><%= @user.email %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% @user.recipes.each do |recipe| %>
  <%= render 'recipes/recipe', recipe: recipe %>
<% end %>
