@import "font-awesome";

.title {
    color: #BD8741;
    font-size: 40px;
}

.is-caffe {
    background-color: #BD8741;
    color: white;
}
.is-caffe-light {
    color:  #BD8741;
}

.btn {
    font-size: 20px;
}

.is-caffe-border {
    border-color:  greenyellow;
}

.text-caffe {
    color: #47260F;
}