
<hr class="is-caffe">
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Hommemade Recipe</strong> by <a href="https://github.com/oselimi">Oselim94 Team</a>. Best programming commpany!
    </p>
  </div>
</footer>